<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Uzmanlığı Düzenle</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/admin">Anasayfa</a></li>
          <li class="breadcrumb-item active">Uzmanlığı Düzenle</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title mb-0">
      Uzmanlık İçeriği <br>
      *** Yüklenecek içerik resimleri için ideal ölçüler 800px / 357px yada 900px / 402px dir. İdeal ölçülere yakın
      ölçüler de kullanılabilir.<br>
      (Aşağıdaki editör yardımı ile, uzmanlıklarım yazınızı hazırlayabilirsiniz. Yazınıza resim ekleyebilir, yazı
      büyüklüğü ve rengi
      gibi biçimlendirmeleri yapabilirsiniz. )
    </h3>
  </div>
</div>
<!-- form start -->
<form [formGroup]="specialityUpdateForm" (ngSubmit)="updateSpeciality()">
  <ckeditor formControlName="ckEditor" *ngIf="isBrowser" [editor]="Editor" [config]="config">
  </ckeditor>
  <br>

  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Uzmanlık Kategorisi<br>(Kategori Seçimi Zorunludur.)
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="form-group">
        </div>
        <!-- select -->
        <div class="form-group">
          <label>Uzmanlık Kategorisi</label>
          <select class="custom-select" formControlName="category"
            [ngClass]="{'is-invalid':submitted && component.category.errors}">
            <option [ngValue]="speciality?.categoryId">{{speciality?.categoryName}}</option>
            @for (specialityCategory of specialityCategories; track specialityCategory) {
            <option [ngValue]="specialityCategory.id">{{specialityCategory.name}}</option>
            }
          </select>
          <small class="invalid-feedback" *ngIf="submitted && component.category.errors?.required">
            Kategori seçiniz.
          </small>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <br>

  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Uzmanlık Kartı (Özet Bilgi)<br>
          (Aşağıdaki alandan, hazırladığınız uzmanlık içeriğine ait, özet bilgiler içeren bir kart
          oluşturmanız gerekmektedir. Bu kartlar "Anasayfa" ve "Uzmanlıklarım"
          sayfalarındaki kısa bilgiler içeren kartlardır.)</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="form-group">
        </div>
        <div class="form-group">
          <label style="font-size:18px">Uzmanlık Kart Başlığı</label>
          <input type="text" class="form-control" formControlName="title"
            placeholder="Uzmanlık kartı için başlık giriniz. Boş bırakılamaz ..."
            [ngClass]="{'is-invalid':submitted && component.title.errors}">
          <small class="invalid-feedback" *ngIf="submitted && component.title.errors?.required">
            Uzmanlık kartı için başlık giriniz.
          </small>
        </div>
        <div class="form-group mt-3">
          <label style="font-size:18px">Uzmanlık Kart İçeriği</label>
          <textarea class="form-control" formControlName="cardContext" rows="8"
            placeholder="Uzmanlık kartı içeriği en az 150, en fazla 200 karakter olmalıdır. Uzmanlık içeriğinin ilk paragrafından kopyala-yapıştır yapılabilir ..."
            [ngClass]="{'is-invalid':submitted && component.cardContext.errors}">
                    </textarea>
          <small class="invalid-feedback" *ngIf="submitted && component.cardContext.errors?.required">
            Uzmanlık kart içeriği giriniz.
          </small>
          <small class="invalid-feedback"
            *ngIf="submitted && (component.cardContext.errors?.minlength || component.cardContext.errors?.maxlength)">
            Uzmanlık kartı içeriği en az 150, en fazla 200 karakter olmalıdır.
          </small>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <div class="col-md-4 ms-auto">
    <button type="submit" class="btn btn-block bg-gradient-dark btn-lg">Değişiklikleri Kaydet</button>
  </div>
  <br>
</form>
<!-- </form> -->