<!------------------------  NAVBAR ------------------------>
<nav class="navbar navbar-expand-xl">
  <div class="container">
    <a class="navbar-brand py-3" routerLink="anasayfa">
      <img src="assets/images/logo/logo.png" class="home">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link home" aria-current="page" routerLink="anasayfa">ANASAYFA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="hakkinda">HAKKINDA</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            UZMANLIKLARI
          </a>
          <ul class="dropdown-menu">
            <!-- @for (specialityCategory of specialityCategories; track specialityCategory) {
            <li>
              <a class="dropdown-item" routerLink="uzmanliklari/{{specialityCategory.categoryUrl}}">
                {{specialityCategory.name}}
              </a>
            </li>
            } -->
            @for (specialityCategory of specialityCategories; track specialityCategory) {
            <li routerLink="uzmanliklari/{{specialityCategory.categoryUrl}}">
              <a class="dropdown-item" routerLink="uzmanliklari">
                {{specialityCategory.name}}
              </a>
            </li>
            }
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="uzmanliklari">UZMANLIKLARI</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="bloglar">BLOG YAZILARI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="videolar">VİDEOLAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="basinda-biz">BASINDAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="iletisim">İLETİŞİM</a>
        </li>
      </ul>
    </div>
  </div>
</nav>