#carouselExampleAutoplaying .carousel-item {
    height: 580px;
    background-size: cover;
    background-position: 75% 100%;
}

.carousel-caption {
    left: 15.3%;
    top: 20%;
    bottom: 10%;
    text-align: left;
    right: 0
}

.carousel-control-prev,
.carousel-control-next {
    opacity: .3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--dark-blue);
    border-radius: 50%;
    padding: 5px;
    width: 40px !important;
    height: 40px !important;
    background-size: 60%;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-caption div {
    color: var(--main-color);
    font-size: 1rem;
    font-family: "OPS Semibold";
    margin-bottom: 10px;
}

.carousel-caption h2 {
    color: var(--main-color);
    font-family: "OPS Bold";
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.carousel-caption p {
    color: var(--main-color);
    font-family: "OPS";
    font-size: 1rem;
    max-width: 43%;
    margin-bottom: 30px;
}

.btn-detail {
    padding: 10px 20px;
    font-size: .9rem;
    -webkit-box-shadow: 1px 3px 6px 0px rgba(3, 34, 39, 0.4);
    -moz-box-shadow: 1px 3px 6px 0px rgba(3, 34, 39, 0.4);
    box-shadow: 1px 3px 6px 0px rgba(3, 34, 39, 0.4);
    top: 0 !important;
}

.carousel-indicators button {
    width: 17px !important;
    height: 17px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    box-shadow: inset rgba(0, 0, 0, 1) 1px 5px 5px -5px;
    opacity: .6 !important;
    margin: 0 4px !important;
}

.carousel-indicators button.active {
    background-color: var(--light-blue) !important;
    opacity: .7 !important;
}

@media (max-width:768px) {
    #carouselExampleAutoplaying .carousel-item {
        height: 350px;
        background-position: 75% 100%;
    }
}