<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-4  ps-lg-0">
        <!-- <img src="assets/images/about-images/about-doctor.png" alt="Op. Dr. Murat Baloğlu"> -->
        @if (aboutMeWithImage?.aboutMeImageFileId) {
        <img src={{aboutMeWithImage?.path}} alt="Op. Dr. Murat Baloğlu">
        }@else {
        <img src="https://placehold.co/400x550" alt="Op. Dr. Murat Baloğlu">
        }
      </div>
      <div class="col-xl-8 cpad text-bg">
        <div [innerHTML]="aboutMeWithImage?.homeContext"></div>
        <!-- <p> -->
        <!-- Anasayfa - Hakkında - İçerik -->
        <!-- Doğum yeri Ankara Polatlı olan Murat Baloğlu 1979 doğumludur. İlk hekimliğini Rizzoli Instutite /
          İtalya'da
          yapan Op. Dr. Murat Baloğlu, şuan Memorial Antalya Hastanesi'nde hekimlik yapmaktadır. Aynı zamanda
          Antalyaspor konsültan hekimidir. -->
        <!-- </p> -->
        <!-- <h3>Ortopedi ve Travmatoloji doktoru Op. Dr. Murat Baloğlu’nun uzmanlık alanları;</h3> -->
        <!-- <ul>
          <li>- Robotik diz-kalça protez cerrahisi,</li>
          <li>- Boy uzatma ameliyatları,</li>
          <li>- Omuz , diz ve ayak bileği artroskopileri,</li>
          <li>- SVF ve ACP uygulamaları,</li>
          <li>- Spor yaralanmaları ve tedavileri</li>
        </ul> -->

        <a routerLink="/hakkinda" class="btn btn-dark btn-detail brd-lblue btn-sm mt-3">
          Devamını Oku
        </a>
      </div>
    </div>
  </div>
</section>