<div class="card card-primary card-outline">
    <div class="card-header">
        <h2 class="m-0 mb-2">Slider İçin Resim Yükle</h2>
        <div class="alert alert-info py-2" style="font-size:18px; line-height: 26px;">
            *** Yüklenecek slider resimleri için ideal ölçüler 1920px / 575px dir. <br>
            Slider resimlerinin en uygun şekilde gösterilebilmesi için otomatik olarak konumlandırma yapılmaktadır.
            Bu yüzden ideal ölçülere yakın ölçüler de kullanılabilir.
        </div>
    </div>
    <div class="card-body">
        <!-- <h4 class="card-title">Special title treatment</h4> -->
        <app-file-upload [options]="fileUploadOptions"></app-file-upload>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-4 mb-3" *ngFor="let carouselImage of carouselImages">
                <div class="card mb-2">
                    <img class="card-img-top" src={{carouselImage.path}} alt={{carouselImage.fileName}}>

                    <button type="button" class="btn btn-danger py-2 btn-sm my-2 c-width mx-2"
                        (click)="deleteCarouselImage(carouselImage.id,carouselImage.fileName)">
                        <i class="fas fa-trash me-1"></i> Sil
                    </button>
                    <div class="btn-group" role="group">

                        <!-- <button type="button" class="btn btn-info btn-sm">
                            <i class="fas fa-pencil-alt"></i> Sırala
                        </button> -->
                        <!-- <button type="button" class="btn btn-primary btn-sm"
                            (click)="uploadBlogImages(blog.id,blog.title)"><i class="fas fa-pencil-alt"></i>Blog
                            Resimleri</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.card -->