.mat-tree {
  background-color: #343a40;
}

.authorize-menu-button-row {
  display: table-cell;
  max-width: 600px;
}

.authorize-menu-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.authorize-menu-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}