<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-sub-main-title">
          BLOG
        </div>
        <div class="section-sub-title">
          Blog Yazıları
        </div>
      </div>
    </div>
    <div class="row mt-5">

      <!-- CARD ITEM -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let blog of blogWithCardImage">
        <div class="blog-card">
          <div class="blog-card-img">
            @if (blog.blogImageFileId) {
            <img src={{blog.path}} alt={{blog.title}}>
            }@else {
            <img src="assets/images/add-photo-1.png">
            }
          </div>
          <div class="blog-date"><i class="fa-solid fa-calendar-days"></i> {{blog.createdDate | date:
            "dd.MM.YYYY"}}</div>
          <div class="blog-card-title">{{blog.title}}</div>
          <div class="blog-card-desc">{{blog.cardContext}}...</div>
          <div class="blog-card-link">
            <a class="btn btn-dark" routerLink="/blog/{{blog.detailUrl}}">Devamını oku</a>
          </div>
        </div>
      </div>

      <!-- CARD ITEM -->
      <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="blog-card">
          <div class="blog-card-img">
            <img src="assets/images/blog-images/blog-image-1.jpg" alt="Diz Protezi Ameliyatı Nasıl Yapılır?">
          </div>
          <div class="blog-date"><i class="fa-solid fa-calendar-days"></i> 20.12.2023</div>
          <div class="blog-card-title">Diz Protezi Ameliyatı Nasıl Yapılır?</div>
          <div class="blog-card-desc">Diz protezi veya kalça protezi ameliyatı, birçok hasta için korkutucu
            olabilmektedir. Hastalar bu yüzden eklem protezi ameliyatlarını erteleyebilir ve şiddetli...
          </div>
          <div class="blog-card-link">
            <a class="btn btn-dark" routerLink="/blog/diz-protezi-ameliyati-nasil-yapilir">Devamını oku</a>
          </div>
        </div>
      </div> -->


      <!-- CARD ITEM -->
      <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="blog-card">
          <div class="blog-card-img">
            <img src="assets/images/blog-images/blog-image-2.jpg" alt="Hidrojel (Sıvı Diz Protezi) Nedir?">
          </div>
          <div class="blog-date"><i class="fa-solid fa-calendar-days"></i> 20.12.2023</div>
          <div class="blog-card-title">Hidrojel (Sıvı Diz Protezi) Nedir?</div>
          <div class="blog-card-desc">Diz protezi veya kalça protezi ameliyatı, birçok hasta için korkutucu
            olabilmektedir. Hastalar bu yüzden eklem protezi ameliyatlarını erteleyebilir ve şiddetli...
          </div>
          <div class="blog-card-link">
            <a class="btn btn-dark" routerLink="/blog/diz-protezi-ameliyati-nasil-yapilir">Devamını oku</a>
          </div>
        </div>
      </div> -->




      <!-- CARD ITEM -->
      <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="blog-card">
          <div class="blog-card-img">
            <img src="assets/images/blog-images/blog-image-3.jpeg"
              alt="Protez Ameliyatı Öncesi Hazırlıklar: Kapsamlı Rehber">
          </div>
          <div class="blog-date"><i class="fa-solid fa-calendar-days"></i> 20.12.2023</div>
          <div class="blog-card-title">Protez Ameliyatı Öncesi Hazırlıklar: Kapsamlı Rehber</div>
          <div class="blog-card-desc">Diz protezi veya kalça protezi ameliyatı, birçok hasta için korkutucu
            olabilmektedir. Hastalar bu yüzden eklem protezi ameliyatlarını erteleyebilir ve şiddetli...
          </div>
          <div class="blog-card-link">
            <a class="btn btn-dark" routerLink="/blog/diz-protezi-ameliyati-nasil-yapilir">Devamını oku</a>
          </div>
        </div>
      </div> -->

      <!-- CARD ITEM -->
      <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="blog-card">
          <div class="blog-card-img">
            <img src="assets/images/blog-images/blog-image-4.png"
              alt="En İyi Diz Protezi: Çapraz Bağları Koruyan Journey II XR">
          </div>
          <div class="blog-date"><i class="fa-solid fa-calendar-days"></i> 20.12.2023</div>
          <div class="blog-card-title">En İyi Diz Protezi: Çapraz Bağları Koruyan Journey II XR</div>
          <div class="blog-card-desc">Diz protezi veya kalça protezi ameliyatı, birçok hasta için korkutucu
            olabilmektedir. Hastalar bu yüzden eklem protezi ameliyatlarını erteleyebilir ve şiddetli...
          </div>
          <div class="blog-card-link">
            <a class="btn btn-dark" routerLink="/blog/diz-protezi-ameliyati-nasil-yapilir">Devamını oku</a>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>
