<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/admin" class="brand-link">
    <img src="assets/admin/images/logo-icon.png" alt="op. dr. murat baloğlu Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Yönetim Paneli</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/admin/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <!-- <a routerLink="/admin" class="d-block">Vedat Aydoğan</a> -->
        <span style="color: #c2c7d0;" class="d-block">Vedat Aydoğan</span>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-gear"></i>
            <p>
              Sayfa Ayarları
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/admin" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Anasayfa</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Anasayfa
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/admin" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Slider / Carousel Ekle</p>
                  </a>
                </li>
              </ul>
            </li> -->
            <li class="nav-item menu-open">
              <!-- <a routerLink="blogs" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Blogs</p>
              </a> -->
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Bloglar
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="blog-add" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Blog Ekle</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="blog-list" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Tüm Bloglar</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item menu-open">
              <!-- <a routerLink="specialties" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Uzmanlıklarım</p>
              </a> -->
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Uzmanlıkları
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="speciality-add" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Uzmanlık Ekle</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="speciality-list" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Tüm Uzmanlıkları</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="speciality-categories" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Uzmanlık Kategorileri</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Hasta Yorumları
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="patient-comment-add" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Hasta Yorumu Ekle</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="patient-comment-list" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Tüm Hasta Yorumları</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Hakkında
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="about-me-add" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Hakkında Ekle</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="home-about-me-add" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Anasayfa Hakkında</p>
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a routerLink="about-me-image-add" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Anasayfa Hakkında Resmi</p>
                  </a>
                </li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a routerLink="contact" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>İletişim</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="social-media-accounts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sosyal Medya Hesapları</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="videos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Videolar</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="news" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Basından</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="faq" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sık Sorulan Sorular</p>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a routerLink="languages" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dil Yönetimi</p>
              </a>
            </li> -->
          </ul>
        </li>

        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-gear"></i>
            <p>
              Kullanıcı Ayarları
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="authorize-menu" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <!-- <p>Endpointler</p> -->
                <p>Yetkilendirme</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="roles" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Roller</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="users" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Kullanıcılar</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>