.delete-dialog-button-row {
  display: table-cell;
  max-width: 600px;
}

.delete-dialog-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 15px;
}

.mdc-dialog__content {
  padding: 0 24px !important
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
  color: #fff !important;
}

::ng-deep .ngx-file-drop__content * {
  color: #fff !important
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #343a40;
}