/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #172224;
  --sky-blue: #f3fbfb;
  --light-blue: #51E2FF;
  --dark-blue: #0297ae;
  --custom-blue: #005096;
  --bs-dropdown-link-active-color: #212E34 !important;
  --bs-dropdown-link-active-bg: #EEFCFD !important;
}

html,
body {
  scroll-behavior: initial !important;
}

/* ul {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.brd-lblue {
  border: 2px solid #21CDD0 !important;
}

.brd-lblue:hover {
  border: 2px solid #21CDD0 !important;
}

.btn-dark {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  font-size: .9rem !important;
  padding: 8px 16px !important;
}

.btn-dark:hover {
  background-color: var(--dark-blue);
  border-radius: 5px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer
}

section {
  padding: 40px 0 40px 0;
  min-height: 45.5vh;
}

@font-face {
  font-family: 'OPS';
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'OPS Bold';
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'OPS Light';
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'OPS Semibold';
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

body {
  font-family: 'OPS';
  font-size: 16px !important;
  letter-spacing: normal !important;
}

.main-h1 {
  display: none;
}

.navbar-toggler {
  padding: 3px 8px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: #fff
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.section-head {

  border-bottom: 1px dashed #95c1c9;
  padding: 10px 0 20px 0;
}

.section-title-link {
  position: absolute;
  right: 0;
  top: 40px;
}

.section-title-link i {
  font-size: .7rem;
  margin-left: 5px;
}

.section-title {
  font-size: 1.6rem;
  font-family: "OPS Bold";
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.section-title::after {
  position: absolute;
  height: 4px;
  background-color: #BD2B35;
  content: "";
  width: 100%;
  max-width: 60px;
  left: 0;
  right: 0;
  bottom: -23px;
  margin: 0 auto;
}

.section-sub-main-title {
  font-family: "OPS Light";
  font-size: 18px;
  color: #727272;
}

.section-sub-title {
  font-size: 27px !important;
  font-family: "OPS Bold";
  position: relative;
  margin-top: -2px;
}

.section-sub-title::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  height: 2px;
  width: 70px;
  background-color: #0EA7BE;
}

.subpage-bg {
  margin-bottom: 28px;
  font-size: .95rem;
  background-color: #F9F9F9;
  border: 2px solid #fff;
  padding: 40px;
  line-height: 1.8rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.subpage-title {
  font-size: 1.1rem;
  font-family: "OPS Bold";
  margin-bottom: 15px;
}

.subpage-link-list ul li {
  padding: 7px 0;
  border-bottom: 1px dashed #C8C8C8;
}

.subpage-link-list ul li a {
  color: #007897;
  cursor: pointer;
  font-size: 1rem;
}

.subpage-link-list ul li a:hover {
  color: #08a1c7;
}

.subpage-link-list ul li a i {
  color: #b5b5b5;
  font-size: .7rem;
  margin-right: 15px;
}

.relative {
  position: relative;
}

.btn-view-all {
  padding: 10px 20px;
  font-size: .9rem;
  background-color: #28aabe;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 15px;
  border-radius: 20px;
  right: 10px;
}

.btn-view-all:hover {
  padding: 10px 20px;
  font-size: .9rem;
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
}

.btn-view-all i {
  font-size: .7rem;
  margin-left: 5px;
}

.btn-view-all-blue {
  padding: 10px 20px;
  font-size: .9rem;
  background-color: #3ab8cb;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 15px;
  border-radius: 20px;
  right: 10px;
}

.btn-view-all-blue:hover {
  padding: 10px 20px;
  font-size: .9rem;
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
}

.btn-view-all-blue i {
  font-size: .7rem;
  margin-left: 5px;
}

/* ANASAYFA ANA CAROUSEL VE HASTA YORUMLARI CAROUSEL CSS KODLARI */
.owl-carousel .owl-nav {
  margin-top: 0px !important;
}

.owl-carousel .owl-nav .owl-next {
  position: absolute !important;
  top: 40%;
  right: 10%;
}

.owl-carousel .owl-nav .owl-prev {
  position: absolute !important;
  top: 40%;
  left: 10%;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.owl-carousel .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: #D6D6D6;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background-color: var(--dark-blue) !important;
}

.owl-carousel .owl-nav div {
  opacity: .3 !important;
  background-color: var(--dark-blue) !important;
  border-radius: 50% !important;
  padding: 5px !important;
  width: 50px !important;
  height: 50px !important;
  background-size: 60%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
  text-align: center !important;
}

.owl-carousel .owl-nav div span {
  width: 30px;
  height: 30px;
}

.owl-carousel .owl-nav div:hover {
  opacity: .8 !important;
}

.main-carousel .owl-item img {
  width: 100%;
  object-fit: cover;
}

.patient-comments-carousel .owl-nav {
  width: 100% !important;
}

.patient-comments-carousel .owl-nav .owl-next {
  position: absolute !important;
  top: 40%;
  right: 0%;
}

.patient-comments-carousel .owl-nav .owl-prev {
  position: absolute !important;
  top: 40%;
  left: 0%;
}



/* RESPONSIVE */


@media(max-width:1400px) {
  .main-carousel .owl-item img {
    object-position: center center;
    height: 475px;
  }
}

@media (min-width:1200px) {
  .navbar .container {
    padding-left: 0;
  }

  .about-section img {
    margin-top: 30px;
    border-radius: 10px;
  }
}

@media (min-width:768px) and (max-width:992px) {
  .spc-card-desc {
    min-height: 150px
  }
}

@media (max-width:1200px) {
  .lg-hide {
    display: none !important;
  }

  .quick-menu .col-11,
  .quick-menu .col-10 {
    display: none;
  }

  .navbar .nav-link {
    color: #fff;
    font-size: .9rem;
    padding: 10px 15px !important;
    border-bottom: 1px dashed #1874c5
  }

  .navbar .nav-item:last-child .nav-link {
    border-bottom: none
  }

  .navbar-collapse {
    padding-bottom: 20px;
  }

  .dropdown-menu.show {
    background-color: #cfe8ec30 !important;
    border-top: 0;
    box-shadow: none;
  }

  .about-section img {
    margin: 20px auto;
    display: flex;
  }

}

@media (max-width:992px) {
  .spc-card-desc {
    min-height: 145px
  }
}

@media (min-width:1200px) and (max-width:1400px) {
  .cpad {
    padding-left: 80px;
  }

  .spc-card-desc {
    min-height: 170px
  }
}

@media (max-width:768px) {

  .btn-view-all-blue,
  .btn-view-all {
    position: absolute;
    bottom: -30px;
    top: inherit !important;
    left: 0;
    right: 0;
    width: 166px;
    height: 42px;
    /* display: flex; */
    margin: 0 auto;
  }
}

@media (max-width:500px) {
  .main-carousel .owl-item img {
    object-position: center center;
    height: 400px;
  }

  .navbar-brand img {
    max-width: 250px !important;
  }
}