<section class="about-detail-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-sub-main-title">
          HAKKINDA
        </div>
        <div class="section-sub-title">
          Op. Dr. Murat Baloğlu Kimdir?
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 col-sm-12 col-md-12">
        <div class="subpage-bg" [innerHTML]="aboutMe?.context">
          <!-- <p> -->
          <!-- [innerHTML]="baboutMe.context"
            {{aboutMe.context}} -->
          <!-- Doğum yeri Ankara Polatlı olan Murat Baloğlu 1979 doğumludur. İlk hekimliğini Rizzoli Instutite /
            İtalya'da
            yapan Op. Dr. Murat Baloğlu, şuan Memorial Antalya Hastanesi'nde hekimlik yapmaktadır. Aynı zamanda
            Antalyaspor konsültan hekimidir. -->
          <!-- </p> -->
          <!-- <h3>Ortopedi ve Travmatoloji doktoru Op. Dr. Murat Baloğlu’nun uzmanlık alanları;</h3> -->
          <!-- <ul>
            <li>- Robotik diz-kalça protez cerrahisi,</li>
            <li>- Boy uzatma ameliyatları,</li>
            <li>- Omuz , diz ve ayak bileği artroskopileri,</li>
            <li>- SVF ve ACP uygulamaları,</li>
            <li>- Spor yaralanmaları ve tedavileri</li>
          </ul> -->

          <!-- <h3 class="subpage-title mt-5">HEKİMLİK DENEYİMİ</h3> -->
          <!-- ITEM -->
          <!-- <div class="row ac-row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2015 - Halen</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">MEMORIAL ANTALYA HASTANESİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / Antalya</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row ac-row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2016 - Halen</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">ANTALYASPOR</div>
              <div class="academic-title">Konsültan Hekimi / Antalya / Nevşehir</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row ac-row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2016 - Halen</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">MEDSTAR ANTALYA HASTANESİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / Antalya</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2015 - Halen</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">MEMORIAL LARA TIP MERKEZİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / Antalya</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2014 - 2015</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">MEMORIAL KAYSERİ HASTANESİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / Kayseri</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2014 - 2015</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">KAYSERİ ERCİYES SPOR</div>
              <div class="academic-title">Kulüp Doktorluğu / Kayseri</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2011 - 2014</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">ÇANKIRI DEVLET HASTANESİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / Çankırı</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2010 - 2011</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">KAYSERİ ASKERİ HASTANESİ / ACIBADEM KAYSERİ HASTANESİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / Kayseri</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2010 - 2010</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">RİZZOLİ İNSTUTİTE</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanı / İtalya</div>
            </div>
          </div> -->

          <!-- --------------------------------------------------------------------------------------- -->

          <!-- <div class="row mt-4">
            <div class="col-12">
              <h3 class="subpage-title">HEKİMLİK EĞİTİMİ</h3>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">2004 - 2009</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">AKDENİZ ÜNİVERSİTESİ TIP FAKÜLTESİ</div>
              <div class="academic-title">Ortopedi ve Travmatoloji Uzmanlık Eğitimi / Antalya</div>
            </div>
          </div> -->

          <!-- ITEM -->
          <!-- <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-2">
              <div class="academic-date">1997 - 2003</div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-10">
              <div class="academic-head">AKDENİZ ÜNİVERSİTESİ TIP FAKÜLTESİ</div>
              <div class="academic-title">Tıp Doktoru Eğitimi / Antalya</div>
            </div>
          </div> -->

          <!-- --------------------------------------------------------------------------------------- -->

          <!-- <div class="row mt-4 academic-list">
            <div class="col-12">
              <h3 class="subpage-title">DİĞER HEKİMLİK BİLGİLERİ</h3>
              <div class="my-3"><strong>Mesleki Yayınlar</strong></div>
              <ul>
                <li>Değişik dergilerde yayınlanmış makaleler</li>
              </ul>

              <div class="my-3"><strong>Katıldığı Mesleki Eğitimler, Kurslar ve Konferanslar</strong></div>
              <ul>
                <li>Temel Mikrocerrahi Kursu, 2008</li>
                <li>AO İleri Travma ve Yaşam Kursu, 2007</li>
                <li>İleri Artroskopi Kursu, 2006</li>
              </ul>

              <div class="my-3"><strong>Üye Olduğu Mesleki Dernek ve Kuruluşlar</strong></div>
              <ul>
                <li>TOTBİD</li>
                <li>Türk Tabipler Birliği</li>
                <li>TUSYAD</li>
                <li>Omuz ve Dirsek Cerrahisi Derneği</li>
                <li>Türk El ve Üst Ekstremite Cerrahisi Derneği</li>
              </ul>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</section>